<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/style :: style"></div>
    <script th:replace="fragments/header :: sameElement"></script>
    <script th:replace="fragments/header :: sameElement1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div th:replace="fragments/navbar :: nav"></div>
<div th:replace="fragments/style :: style"></div>
<div class="table-responsive table-responsive-sm">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Latitude</th>
            <th scope="col"> Longitude</th>
            <th scope="col"> Title</th>
            <th scope="col"> Snippet</th>
            <th scope="col"> PuzzleId</th>
            <th scope="col"> Visibility</th>
            <th scope="col"> Description</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${markers.empty}">
            <td colspan="2"> No Markers Available</td>
        </tr>
        <tr scope="row" th:each="marker : ${markers}">
            <td><span th:text="${marker.id}"> Id </span></td>
            <td><span th:text="${marker.latitude}"> Latitude </span></td>
            <td><span th:text="${marker.longitude}"> Longitude </span></td>
            <td><span th:text="${marker.title}"> Title </span></td>
            <td><span th:text="${marker.snippet}"> Snippet </span></td>
            <td><span th:text="${marker.puzzleId}"> PuzzleId</span></td>
            <td><span th:text="${marker.visibility}"> Visibility </span></td>
            <td><span th:text="${marker.description}"> Description </span></td>
            <td><a th:href="@{/deleteMarker/{id}(id=${marker.id})}" class="btn btn-danger" id="deleteButton"><i
                    class="fas fa-user-times ml-2"></i><span>Delete</span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>