<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/header :: login"></div>
    <div th:replace="fragments/style :: style"></div>
</head>
<body>

<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><a class="btn">Sign in</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <form class="form-signin" th:action="@{/login}" method="post" name="form">
                <label for="username">Username</label>
                <input class="form-styling" id="username" type="text" name="username" placeholder="Username..."/>
                <label for="password">Password</label>
                <input class="form-styling" type="password" id="password" name="password" placeholder="Password..."/>
                <input type="checkbox" id="checkbox"/> <label for="checkbox"><span class="ui"></span>Remember me</label>
                <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Sign in "/>

            </form>
        </div>

    </div>
</div>

</body>
</html>