<div class="topnav" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="active" href="/welcome">Home</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Users
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/allUsers" th:action="@{/allUsers}">Show Users</a>
            <a href="#adduser">Add User</a>
            <a href="#deleteuser">Delete User</a>
            <a href="#updateuser">Update User</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Puzzle
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/allPuzzles" th:action="@{/allPuzzles}">Show Puzzle</a>
            <a href="/save" th:action="@{/save}">Add Puzzle</a>
            <a href="/allPuzzles" th:action="@{/deletePuzzle/{id}}">Delete Puzzle</a>
            <a href="#changelocation">Change Location</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Marker
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/allMarkers" th:action="@{/allMarkers}">Show Markers</a>
            <a href="/addMarker" th:action="@{/addMarker}">Add Marker</a>
        </div>
    </div>
    <a href="#about">About</a>
</div>
