<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/style :: style"></div>
    <script th:replace="fragments/header :: sameElement"></script>
    <script th:replace="fragments/header :: sameElement1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div th:replace="fragments/navbar :: nav"></div>
<form action="#"
      th:action="@{/updatePuzzle/{id}(id=${puzzle.id})}"
      th:object="${puzzle}"
      method="post">
    <label for="question">Question</label>
    <input type="text" th:field="*{question}" id="question" placeholder="question">
    <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></span>
    <label for="answer">Answer</label>
    <input type="text" th:field="*{answer}" id="answer" placeholder="answer">
    <span th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></span>
    <label for="points">Points</label>
    <input type="text" th:field="*{points}" id="points" placeholder="points">
    <span th:if="${#fields.hasErrors('points')}" th:errors="*{points}"></span>
    <input type="submit" value="Save Changes">
    <button th:href="@{/allPuzzles}" type="btn" >Cancel</button>
</form>
</body>
</html>