<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <script th:replace="fragments/header :: sameElement"></script>
    <script th:replace="fragments/header :: sameElement1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div th:replace="fragments/navbar :: nav"></div>
<form action="#"
      th:action="@{/updateUser/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="points">Points</label>
    <input type="text" th:field="*{points}" id="points" placeholder="points">
    <span th:if="${#fields.hasErrors('points')}" th:errors="*{points}"></span>
    <input type="submit" value="Save Changes">
    <button th:href="@{/allUsers}" type="btn">Cancel</button>
</form>
</body>
</html>